#mainTable,
td {
  margin-top: 20px;
  border: 1px solid black;
  border-spacing: 0px;
}
tr:first-child {
  background-color: rgb(184, 184, 184);
}
#spanBtn,
#checkBtn {
  width: 30px;
  height: 30px;
}

#deleteBtn,
#editBtn {
  margin-left: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#userId {
  display: none;
}
#saveBtn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgb(0, 15, 128);
  color: white;
  display: none;
}
#logoutBtn {
  width: 100px;
  height: 40px;
  border: none;
  margin-top: 30px;
  background-color: rgb(128, 0, 0);
  color: white;
}
body {
  margin-left: 100px;
}
#addBtn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgb(53, 128, 0);
  color: white;
}
#errorMsg {
  font-size: 2rem;
  color: red;
}
/**/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;

  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
} */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  place-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border-radius: 20px;
  background-color: #d7d7d7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;

  height: 300px;
  width: 50%;
  background-color: lightblue;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#errorImg {
  width: 50px;
  height: 50px;
  fill: red;
}
